<!--Will include the "header.ejs", allows header to be reuse in different files-->
<%- include('header'); -%>

<h2>About Page</h2>

<p>Multi-ToDo List</p>

<!--Will include the "footer.ejs", allows footer to be reuse in different files-->
<%- include('footer'); -%>